.card {
    box-shadow: 8px 4px 8px 4px grey;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 300px;
    background-color: #282c34;
    border: 1px solid #282c34;
    height: 350px;
  }

  .card-green {
    box-shadow: 8px 4px 8px 4px grey;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 300px;
    background-color: #bdff7c;
    border: 1px solid #bdff7c;
    height: 350px;
  }

.card-image {
    height: 175px;
    border-radius: 10px;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #00d8ff
  }
  
  .counter {
    font-size: 18px;
    margin-top: 10px;
    color: #00d8ff;
    font-weight: bold;
    
  }

  .btn {
    border-radius: 15px;
    border: none;
    width: 45px;
    height: 45px;
    margin: 15px;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 2px 2px 2px grey;
  }

  .fadeInUp {
    opacity: 0;
    position: relative;
    animation: fadeInUp 2s ease-in-out forwards;
  }

  .trade {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }

  .trade-btn {
    background-color: rgba(0, 216, 255, 0.3);
    border-radius: 15px;
    font-size: 20px;
  }

  .trade button:hover {
    background-color: #007bff;
    border-radius: 15px;
    color: #282c34;
    font-size: 20px;
    box-shadow: 2px 2px 2px grey;
  }

  .selected {
    background-color: #007bff;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    box-shadow: 2px 2px 2px grey;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  