.navbar {
    display: flex;
    background-color: #e2e2e2;
    padding: 20px;
    font-weight: 100%;
  }

.nav-item {
border: 1px solid black;
background-color: #00d8ff;
border-radius: 5px;
margin: 0 10px;
padding: 10px;
font-weight: bold;
box-shadow: 2px 2px 2px grey;
font-size: 15px;
}

.nav-link {
  text-decoration: none;
  color: #333; 
  transition: all 0.2s ease-in-out;
}

.nav-item:hover {
    background-color: #007bff;
}

.nav-item:active {
    background-color: #007bff;
    transform: scale(0.95);
  }

nav {
    user-select: none;
}

select {
  background-color: #00d8ff;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 10px;
  padding: 10px;
  font-weight: bold;
  box-shadow: 2px 2px 2px grey;
  justify-content: flex-end;
  position: absolute;
  right: 30px;
  font-size: 15px;
  }

select:hover {
  background-color: #007bff;
}

select option {
  color: #000; 
  font-family: Arial, sans-serif; 
  background-color: #fff; 
}
